/* Font from Google to clean up the text */
@import url('https://fonts.googleapis.com/css?family=Catamaran:300&display=swap');

// Control Button Colors
$play: #29AF1D;
$next: #F7B92B;
$stop: #EB261F;
$update: #1177B7;

/* Main div element */
.dev-widget {

    position: absolute;
    margin: 1em;
    padding: .25em;

    input {
        border: none;
        font-size: 1.25em;
        margin: .1em 0;
    }

    button {
        background-color: transparent;
        border: none;
        font-size: 1.25em;
        padding: 0;
        text-align: center;
    }

    button, option, input, p {
        font-family: 'Catamaran', 'Arial';
    }
    .dev-widget-controls button {
        color: white;
    }
    .dev-widget-transparent {
        background-color: transparent;
    }
    .dev-widget-custom-command, .dev-widget-position-con {
        display: flex;

        & button {
            margin: 0 auto;
            padding: 0 .25em;
        }
    }
}

.dev-widget-visible {
    .dev-widget-play {
        background-color: $play;
    }
    .dev-widget-next {
        background-color: $next;
    }
    .dev-widget-stop {
        background-color: $stop;
    }
    .dev-widget-data button {
        background-color: $update;
    }
}

.dev-widget-invisible {
    .dev-widget-controls button {
        background: transparent;
    }
}

.dev-widget-display-open {
    display: flex;
    background-color: #202124;

    button {
        color: white;
    }
    .dev-widget-hide:after {
        content: 'Hide';
    }
    .dev-widget-shrink:after {
        content: 'Shrink';
    }
    .dev-widget-invis:after {
        content: 'Invis';
    }
    .dev-widget-controls, .dev-widget-visibility {
        display: flex;
        justify-content: space-around;
    }
    .dev-widget-controls button {
        border-radius: 25px;
        margin: .10em;
        padding: 0 .5em;
    }
    .dev-widget-controls.dev-widget-standard button {
        font-size: 2em;
        &:nth-of-type(1):after {
            content: 'Play';
        }
        &:nth-of-type(2):after {
            content: 'Next';
        }
        &:nth-of-type(3):after {
            content: 'Stop';
        }
    }
    .dev-widget-controls.dev-widget-data button {
        font-size: 1.5em;
        &:nth-of-type(1):after {
            content: 'Update';
        }
        &:nth-of-type(2):after {
            content: 'Update Data';
        }
    }
    .dev-widget-options {
        display: flex;
        flex-direction: column;
    }
}

/* Defines the element when hidden */
.dev-widget-display-hide {
    .dev-widget-hide:after {
        content: 'H';
    }
    .dev-widget-shrink:after {
        content: unset;
    }
    .dev-widget-controls, .dev-widget-options {
        display: none;
    }
}

/* Defines the element when shrunken */
.dev-widget-display-shrink {
    display: flex;
    flex-direction: column;
    align-items: center;
    .dev-widget-hide:after {
        content: 'H';
    }
    .dev-widget-shrink:after {
        content: 'S';
    }
    .dev-widget-invis:after {
        content: 'I';
    }
    .dev-widget-options {
        display: none;
    }
    .dev-widget-controls, .dev-widget-visibility {
        display: flex;
        flex-direction: column;
    }
    .dev-widget-controls button {
        font-size: 1em;
        border-radius: 25px;
        margin: .10em;
        padding: 0 .5em;
    }
    .dev-widget-controls.dev-widget-standard button {
        &:nth-of-type(1):after {
            content: 'P';
        }
        &:nth-of-type(2):after {
            content: 'N';
        }
        &:nth-of-type(3):after {
            content: 'S';
        }
    }
    .dev-widget-controls.dev-widget-data button {
        &:nth-of-type(1):after {
            content: 'U';
        }
        &:nth-of-type(2):after {
            content: 'UD';
        }
    }
}