/* Font from Google to clean up the text */
@import url('https://fonts.googleapis.com/css?family=Catamaran:300&display=swap');

aside.demo-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 25vw;

    * {
        font-family: 'Catamaran', 'Arial';
    }

    .message-container {
        align-self: flex-end;
        background-color: rgb(17,34,51);
        border-radius: 25px;
        box-shadow: 0 0 5px rgba(0,0,0,.25);
        color: white;
        flex-direction: column;
        padding: 0 1em;
        margin: 1em 2em;
        max-height: 50vh;
        width: 100%;
       

        > div {
            display: flex;
        }

        h2 {
            font-size: 2em;
            margin: 0;
            text-align: center;
        }

        p {
            border-bottom: 1px solid rgba(255,255,255, .5);
            font-size: 1.25em;
            margin: .15em 0;
        }

        button {
            background-color: rgba(0,0,0,0);
            border: none;
            color: white;
            font-size: 1.25em;
            margin: 0 2em;

            &:first-of-type:after {
                content: 'Hide';
            }
        }

        hr {
            margin: .15em 0;
            border-width: 1px;
            border-color: rgba(255,255,255, .5);
        }

        .header {
            align-items: center;
            display: flex;
            justify-content: space-around;
            height: min-content;
            margin: 0 auto;
            min-height: 3em;
        }

        .messages {
            flex-direction: column;
            min-height: 10vh;
            overflow-y: auto;
            overflow-x: hidden;
            margin-top: .5em;
            margin-bottom: 1.5em;

            span {
                border-radius: 25px;
                padding: 0 .5em;
            }
        }

        .error {
            background-color: rgb(180, 26, 21);
        }

        .update {
            background-color: #1177B7;
        }

        .play {
            background-color: #29AF1D;
        }

        .next {
            background-color: #F7B92B;
        }

        .stop {
            background-color: #EB261F;
        }
    }

    .open {
        display: flex;
    }

    .close {
        width: min-content;
        h2, button:last-of-type , .messages{
            display: none;
        }

        button:first-of-type:after {
            content: 'H';
        }

        button {
            margin: 0;
        }
    }
}